<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block favicon %}
            <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicon//apple-touch-icon.png') }}">
            <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon//favicon-32x32.png') }}">
            <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon/favicon-16x16.png') }}">
            <link rel="manifest" href="{{ asset('favicon/site.webmanifest') }}">
            <link rel="mask-icon" href="{{ asset('favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
            <meta name="msapplication-TileColor" content="#00aba9">
            <meta name="theme-color" content="#ffffff">
        {% endblock %}
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
            <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,600,700,900|Roboto:300,400,500|Roboto+Condensed:300,400,700|Source+Serif+Pro:400,600,700" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% block topbar %}

                <div class="topbar">
					<div class="search-bar">
						<form action="{{ path('search') }}" method="POST">
							<input type="text">
						</form>
						<div class="close">
							<i class="icon material-icons">close</i>
						</div>
					</div>
					<div class="top">
						<div class="left">
							<a href="{{ path('upload') }}" class="link main-button">
								<span class="name">Start project</span>
							</a>
							<a href="{{ path('explore') }}" class="link">
								<span class="name">Explore</span>
							</a>
							<a href="{{ path('list', {'cat': 'all' }) }}" class="link all">
								<span class="name">All</span>
							</a>
						</div>
						<div class="center">
							<a href="{{ path('home') }}" class="logo-container">
								<img src="https://upload.wikimedia.org/wikipedia/commons/2/24/WWF_logo.svg" class="logo" alt="">
							</a>
						</div>
						<div class="right">
							<div class="search link">
								<i class="icon material-icons inactive">search</i>
							</div>
							{% if username %}
								<div class="dropdown-container topbar-item user">
									<div class="content-container">
										<div class="trigger link">
											<div class="username">{{ username }}</div>
											<div class="avatar-container">
												<img src="http://www.coollibrarian.com/wp-content/uploads/metal-gear-solid-wallpaper-207-best-metal-gear-images-on-pinterest.jpg" class="avatar" alt="Your personal avatar">
											</div>
										</div>
										<div class="content from-right">
											<ul>
												<li><a href="{{ path('profile') }}" class="item"><i class="icon material-icons">portrait</i><div class="text">View profile</div></a></li>
												<li><a href="{{ path('logout') }}" class="item"><i class="icon material-icons adjust-20">input</i><div class="text">Logout</div></a></li>
											</ul>
										</div>
									</div>
								</div>
							{% else %}
								<a href="{{ path('login') }}" class="link">Sign in / Join</a>
							{% endif %}
						</div>
					</div>
					<div class="separator"></div>
					<div class="bottom causes">
						<a href="{{ path('list', {'cat': 'ocean' }) }}" class="link">Oceans</a>
						<a href="{{ path('list', {'cat': 'food' }) }}" class="link">Food</a>
						<a href="{{ path('list', {'cat': 'wildlife' }) }}" class="link">Wildlife</a>
						<a href="{{ path('list', {'cat': 'forest' }) }}" class="link">Forests</a>
						<a href="{{ path('list', {'cat': 'climate' }) }}" class="link">Climate</a>
					</div>
				</div>
            {% endblock %}

			{% block content %}
			{% endblock %}

			{% block footer %}
				<footer class="footer">
					<div class="section causes">
						<a href="{{ path('list', {'cat': 'ocean' }) }}" class="link">Oceans</a>
						<a href="{{ path('list', {'cat': 'food' }) }}" class="link">Food</a>
						<a href="{{ path('list', {'cat': 'wildlife' }) }}" class="link">Wildlife</a>
						<a href="{{ path('list', {'cat': 'forest' }) }}" class="link">Forests</a>
						<a href="{{ path('list', {'cat': 'climate' }) }}" class="link">Climate</a>
					</div>
					<div class="separator"></div>
					<div class="section mission">
						<div class="logo-container-mission">
							<img src="https://upload.wikimedia.org/wikipedia/commons/2/24/WWF_logo.svg" class="logo" alt=""/>
						</div>
						<div class="text-container">
							<div class="title">Our mission</div>
							<div class="description">
								Stop the degradation of the environment in the world and build a future where human beings can live in harmony with nature. <br />
								For nearly 60 years, WWF has worked to protect the diversity of life on Earth and the future of nature. <br />
								84% of WWF's spending is directed to worldwide conservation activities.
								Your donation is tax-deductible, and every gift makes a difference for wildlife and nature.
							</div>
						</div>
					</div>
					<div class="separator"></div>
					<div class="section copyright">
						<div class="text-container">
							<div class="text">© 2017 WWF - World Wide Fund For Nature © 1986 Panda Symbol WWF – World Wide Fund For Nature (formerly World Wildlife Fund) </div>
							<div class="text">® “WWF” is a WWF Registered Trademark</div>
						</div>
						<div class="social-container">
							<a href="http://wwf.org/" class="social">wwf</a>
							<a href="https://www.facebook.com/WWF/" class="social">fb</a>
							<a href="https://twitter.com/WWF?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="social">tw</a>
						</div>
					</div>
				</footer>
			{% endblock %}
        {% endblock %}
        {% block javascripts %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

			<script>
				const searchIcon = document.querySelector('.search')
				const closeIcon = document.querySelector('.close')

				const searchBar = document.querySelector('.search-bar')
				const input = document.querySelector('.search-bar input')

				searchIcon.addEventListener('click', () => {
					searchBar.classList.add('active')
					input.focus()
				})
				closeIcon.addEventListener('click', () => {
					searchBar.classList.remove('active')
				})
			</script>
        {% endblock %}
    </body>
</html>
