{% extends 'base.html.twig' %}

{% block title %}WWF | Home{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/home.css') }}">
{% endblock %}

{% block body %}
	{% block topbar %}
		{{ parent() }}
	{% endblock %}
	{% block content %}
		{{ parent() }}
		<div class="wrapper wrapper-home">
			<div class="section introduction">
				<div class="title">Crowdfund your project <br /> for a better world</div>
				<div class="description">
					Welcome to WWF Crowdfund. <br />
					Here, you can browse thousands of ecological, environmental projects created by users just like you. <br />
					They aim to help endangered species, preserve the environment and overall create a better world. <br />
					These projects are financed by WWF and by people all over the world who want to make a change.
					When a project reaches its funding goal, we promise to do everything in our power to make it happen as soon as possible. <br />
					And if you have an idea that you'd like to share with the world, you can submit a project on this website and eventually it will become a reality.
				</div>
			</div>
			<div class="section featured-projects">
				<div class="project-main">
					<h1 class="section-intro">Featured Project</h1>
					<a href="{{ path('project', {'id': featuredProject.id}) }}" class="content">
						<div class="image-container">
							<img src="{{ featuredProject.image }}" class="image" alt="">
							<div class="progress-bar" style="transform: scaleX({{ min(1, ((featuredProject.currentMoney / featuredProject.neededMoney)|round(2))) }})"></div>
						</div>
						<div class="title">
							<span>{{ featuredProject.name }}</span>
						</div>
						<div class="description">
							<span>{{ featuredProject.description }}</span>
						</div>
						<div class="author">
							<span>By {{ featuredProject.author }}</span>
						</div>
					</a>
					<div class="separator"></div>
				</div>
				<div class="projects-side">
					<h1 class="section-intro">Recommended</h1>
					{% for project in recommendedProjects %}
						<div class="project-side">
							<a href="{{ path('project', {'id': project.id}) }}" class="left">
								<div class="image-container">
									<img src="{{ project.image }}" class="image"/>
								</div>
							</a>
							<a href="{{ path('project', {'id': project.id}) }}" class="middle">
								<div class="title">{{ project.name }}</div>
								<div class="funded">{{ (project.currentMoney / project.neededMoney * 100)|round }}%</div>
								<div class="author">By {{ project.author }}</div>
							</a>
							<div class="right">
								<i class="icon material-icons">arrow_forward_ios</i>
							</div>
						</div>
						<div class="separator"></div>
					{% endfor %}
					<div class="view-more">
						<a href="{{ path('explore') }}">
							More projects
						</a>
					</div>
				</div>
				<div class="section-separator"></div>
			</div>

			<div class="section popular-projects">
				<div class="section-topbar">
					<div class="section-intro">Popular</div>
					<div class="view-more">
						<a href="{{ path('list', {'cat' : 'best'}) }}">View more</a>
					</div>
				</div>
				<div class="projects-list">
					{% for project in popularProjects %}
						<a href="{{ path('project', {'id': project.id}) }}" class="project">
							<div class="image-container">
								<img src="{{ project.image }}" class="image" alt="">
								<div class="progress-bar" style="transform: scaleX({{ min(1, ((project.currentMoney / project.neededMoney)|round(2))) }})"></div>
							</div>
							<div class="title">
								<span>{{ project.name }}</span>
							</div>
							<div class="description">
								<span>{{ project.description }}</span>
							</div>
							<div class="author">
								<span>{{ project.author }}</span>
							</div>
						</a>
					{% endfor %}
				</div>
			</div>
			<div class="section create-project">
				<div class="overlay"></div>
				<div class="content">
					<div class="title">You want to change the world?</div>
					<div class="description">
						<p>Currently, <span class="projects-number">196</span> projects have been submitted.</p>
						<p>You too, join the adventure sharing the next great idea.</p>
					</div>
					<a href="{{ path('upload') }}" class="cta">Start a project</a>
				</div>
				<div class="section-separator"></div>
			</div>
			<div class="section new-projects">
				<div class="section-topbar">
					<div class="section-intro">New</div>
					<div class="view-more">
						<a href="{{ path('list', { 'cat' : 'new' }) }}">View more</a>
					</div>
				</div>
				<div class="projects-list">
					{% for project in newProjects %}
						<a href="{{ path('project', {'id': project.id}) }}" class="project">
							<div class="image-container">
								<img src="{{ project.image }}" class="image" alt="">
								<div class="progress-bar" style="transform: scaleX({{ min(1, ((project.currentMoney / project.neededMoney)|round(2))) }})"></div>
							</div>
							<div class="title">
								<span>{{ project.name }}</span>
							</div>
							<div class="description">
								<span>{{ project.description }}</span>
							</div>
							<div class="author">
								<span>{{ project.author }}</span>
							</div>
						</a>
					{% endfor %}
				</div>
				<div class="section-separator"></div>
			</div>
			<div class="section close-projects">
				<div class="section-topbar">
					<div class="section-intro">Ending shortly</div>
					<div class="view-more">
						<a href="{{ path('list', { 'cat' : 'ending' }) }}">View more</a>
					</div>
				</div>
				<div class="projects-list">
					{% for project in endingProjects %}
						<a href="{{ path('project', {'id': project.id}) }}" class="project">
							<div class="image-container">
								<img src="{{ project.image }}" class="image" alt="">
								<div class="progress-bar" style="transform: scaleX({{ min(1, ((project.currentMoney / project.neededMoney)|round(2))) }})"></div>
							</div>
							<div class="title">
								<span>{{ project.name }}</span>
							</div>
							<div class="description">
								<span>{{ project.description }}</span>
							</div>
							<div class="author">
								<span>{{ project.author }}</span>
							</div>
						</a>
					{% endfor %}
				</div>
				<div class="section-separator"></div>
			</div>
		</div>
	{% endblock %}

	{% block footer %}
		{{ parent() }}
	{% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/home.js') }}"></script>
{% endblock %}
