{% extends 'base.html.twig' %}

{% block title %}WWF | Donation Confirmed{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('build/confirm.css') }}">
{% endblock %}

{% block body %}
	{% block topbar %}
		{{ parent() }}
	{% endblock %}
	{% block content %}
		{{ parent() }}
		<div class="wrapper wrapper-confirm">
			<div class="main-content">
				<div class="no-result">
					Thank you for your donation.<br />
					We just sent you a confirmation e-mail.
				</div>
				<a href="{{ path('home') }}" class="cta">
					Back to home
				</a>
			</div>
		</div>
	{% endblock %}

	{% block footer %}
		{{ parent() }}
	{% endblock %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('build/confirm.js') }}"></script>
{% endblock %}
