{% extends 'base.html.twig' %}

{% block title %}WWF | Donate{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('build/donate.css') }}">
{% endblock %}

{% block body %}
	{% block topbar %}
		{{ parent() }}
	{% endblock %}
	{% block content %}
		{{ parent() }}
		<div class="wrapper wrapper-donate">
			<div class="main-content">
				<div class="project-intro">
					<div class="author">{{ project.author }}</div>
					<div class="name">{{ project.name }}</div>
					<div class="description">{{ project.description }}</div>
				</div>
				<div class="pledges">
					<div class="amount">$25</div>
					<a href="{{ path('confirm-donation', {'id': project.id}) }}" class="cta">
						Confirm donation
					</a>
					<div class="donation-block" data-amount="5">
						<div class="title">Pledge US$ 5 or more</div>
						<div class="subtitle">about €4</div>
						<div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam delectus ducimus laudantium pariatur quae quaerat rem, similique! Asperiores commodi corporis cum debitis distinctio doloribus laborum mollitia, officia quod vel.</div>
						<div class="start">
							<div class="label">Estimated start date</div>
							<div class="value">{{ project.dateDeadline|date('m/y') }}</div>
						</div>
						<div class="donations">{{ project.donations // 2 }} backers</div>
					</div>
					<div class="donation-block" data-amount="25">
						<div class="title">Pledge US$ 25 or more</div>
						<div class="subtitle">about €20</div>
						<div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam delectus ducimus laudantium pariatur quae quaerat rem, similique! Asperiores commodi corporis cum debitis distinctio doloribus laborum mollitia, officia quod vel.</div>
						<div class="start">
							<div class="label">Estimated start date</div>
							<div class="value">{{ project.dateDeadline|date('m/y') }}</div>
						</div>
						<div class="donations">{{ project.donations // 4 }} backers</div>
					</div>
					<div class="donation-block" data-amount="100">
						<div class="title">Pledge US$ 100 or more</div>
						<div class="subtitle">about €75</div>
						<div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam delectus ducimus laudantium pariatur quae quaerat rem, similique! Asperiores commodi corporis cum debitis distinctio doloribus laborum mollitia, officia quod vel.</div>
						<div class="start">
							<div class="label">Estimated start date</div>
							<div class="value">{{ project.dateDeadline|date('m/y') }}</div>
						</div>
						<div class="donations">{{ project.donations // 8 }} backers</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}

	{% block footer %}
		{{ parent() }}
	{% endblock %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('build/donate.js') }}"></script>

	<script>
		const donationBlocks = document.querySelectorAll('.donation-block')
		const donationAmount = document.querySelector('.amount')

		for(const block of donationBlocks) {
			block.addEventListener('click', (e) => {
				const amount = e.currentTarget.dataset.amount
				const toastHTML = '<span class="new-donation"> New donation amount : ' + amount + '</span>';

				donationAmount.innerHTML = `$${amount}`

				M.toast({html: toastHTML, displayLength: 2500, classes: 'rounded new-donation', inDuration: 750, outDuration: 350})
			})
		}
	</script>
{% endblock %}
