{% extends 'base.html.twig' %}

{% block title %}WWF | Authentication{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('build/login.css') }}">
{% endblock %}

{% block body %}
	{% block topbar %}
		{{ parent() }}
	{% endblock %}
	{% block content %}
		{{ parent() }}
		<div class="wrapper wrapper-login">
			<div class="text-container">
				<div class="title">
					Please log in to continue
				</div>
				<div class="description">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aut error fugiat maiores obcaecati quod tempore. Aperiam consectetur debitis, dolore enim fuga laborum, nostrum perspiciatis quibusdam soluta suscipit velit voluptatum.
				</div>
			</div>
			<div class="form-container">
				<form action="{{ path('login') }}" method="POST" class="form">
					<div class="input-field">
						<input id="username" type="text" name="_username" placeholder="ex : admin" autocomplete="off" value="{{ last_username }}" class="validate">
						<label for="username">Username</label>
					</div>
					<div class="input-field">
						<input id="password" type="password" name="_password" placeholder="ex : 0000" autocomplete="off" class="validate">
						<label for="password">Password</label>
					</div>
					<div class="last-step">
						<button class="btn waves-effect waves-light" type="submit" name="action">Log in</button>
					</div>
				</form>
			</div>
		</div>
	{% endblock %}

	{% block footer %}
		{{ parent() }}
	{% endblock %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% if error %}
		<script>
			const toastHTML = '<span class="error">{{ error.messageKey }}</span>'

			M.toast({html: toastHTML, displayLength: 2500, classes: 'rounded', inDuration: 750, outDuration: 350})
		</script>
	{% endif %}
{% endblock %}
